# Misc
.DS_Store
*.log
*.tmp
*.swp

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Flutter & Dart build/cache
.dart_tool/
.packages
build/
pubspec.lock

# Coverage and reports
coverage/
test-results/

# OSX and Linux junk
*.lock
*.bak

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore example app build artifacts
example/.dart_tool/
example/build/
example/pubspec.lock
example/.packages
